force-app/main/default/flows/Create_Sales_Agreement_From_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_new_Sales_Agreement</name>
        <label>Open new Sales Agreement</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Create_New_Sales_Agreement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_SA_Prod_to_List</name>
        <label>Add SA Prod to List</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recsSAProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSAProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSAProduct.ProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_SA_Product</name>
        <label>Set new SA Product</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>loopSAProduct.InitialPlannedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.SalesAgreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Sales_Agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Products.Product_Name_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Products.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dupe_check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultFrequencyChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!defaultScheduleFrequency.Label}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultScheduleFrequency.Value</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Dupe_check</name>
        <label>Dupe check</label>
        <locationX>352</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Add_SA_Prod_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No dupes found</defaultConnectorLabel>
        <rules>
            <name>Dupe_product_ID_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productIdList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopSAProduct.ProductId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Quote_Products</targetReference>
            </connector>
            <label>Dupe product ID found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>scheduleFrequencyOptions</name>
        <dataType>String</dataType>
        <displayField>Value</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesAgreement.ScheduleFrequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>defaultScheduleFrequency.Value</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>selectedFrequency</assignToReference>
            <field>Value</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>*Create Sales Agreement From Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Create Sales Agreement from RLM Quote</label>
    <loops>
        <name>Loop_through_Quote_Products</name>
        <label>Loop through Quote Products</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_SA_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SA_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Sales_Agreement</name>
        <label>Create New Sales Agreement</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Quote.QuoteAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sales_Agreement_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookId</field>
            <value>
                <elementReference>Pricebook.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleCount</field>
            <value>
                <elementReference>Schedule_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleFrequency</field>
            <value>
                <elementReference>Schedule_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_SA_Products</name>
        <label>Insert SA Products</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Open_new_Sales_Agreement</targetReference>
        </connector>
        <inputReference>recsSAProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>defaultScheduleFrequency</name>
        <label>defaultScheduleFrequency</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Sales_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesAgreement.ScheduleFrequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>defaultScheduleFrequency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Sales_Agreement</name>
        <label>New Sales Agreement</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Sales_Agreement</targetReference>
        </connector>
        <fields>
            <name>Sales_Agreement_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!Get_Quote.Name} Sales Agreement</stringValue>
            </defaultValue>
            <fieldText>Sales Agreement name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Schedule_Frequency</name>
            <choiceReferences>defaultFrequencyChoice</choiceReferences>
            <choiceReferences>scheduleFrequencyOptions</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultFrequencyChoice</defaultSelectedChoiceReference>
            <fieldText>Schedule Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Schedule_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Schedule Count</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pricebook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pricebook2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Price Book</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Quote.Pricebook2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopQuoteProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>loopSAProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>productIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Q0Hp000002rB86KAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>recsSAProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>selectedFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
