force-app/main/default/flows/RLM_Sales_Agreement_Order_Execution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_Order</name>
        <label>create Order</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>salesAgreementRLMOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>open_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__salesagreementProductSchedules</typeName>
            <typeValue>SalesAgreementProductSchedule</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customerAcctId</name>
            <value>
                <elementReference>get_Sales_Agreement_details.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderDate</name>
            <value>
                <elementReference>Order_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceBookId</name>
            <value>
                <elementReference>get_Sales_Agreement_details.PricebookId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgreementId</name>
            <value>
                <elementReference>get_Sales_Agreement_details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesagreementProductSchedules</name>
            <value>
                <elementReference>Products.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>salesAgreementRLMOrder</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>orderId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>open_Order</name>
        <label>open Order</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>salesagreementIdLEFT</name>
        <dataType>String</dataType>
        <expression>LEFT({!get_Sales_Agreement_details.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>RLM - Sales Agreement Order Execution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM - Sales Agreement Order Execution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_SA_Product_Schedules</name>
        <label>get SA Product Schedules</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Order_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Order_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesAgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesagreementIdLEFT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAgreementProductSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Sales_Agreement_details</name>
        <label>get Sales Agreement details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_an_Order_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_an_Order_Date</name>
        <label>Select an Order Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_SA_Product_Schedules</targetReference>
        </connector>
        <fields>
            <name>Order_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodaysDate</elementReference>
            </defaultValue>
            <fieldText>Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Order</targetReference>
        </connector>
        <fields>
            <name>Products</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SalesAgreementProductSchedule</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_SA_Product_Schedules</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-535d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PlannedQuantity&quot;,&quot;guid&quot;:&quot;column-8f60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Planned Quantity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SalesPrice&quot;,&quot;guid&quot;:&quot;column-1624&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Sales_Agreement_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreement</objectType>
    </variables>
</Flow>
