force-app/main/default/flows/RLM_Quote_to_ServiceContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Line</name>
        <label>Assign Contract Line</label>
        <locationX>176</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>ContractLineVar.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.Covered_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.Covered_Asset__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.NetUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Svc_Contract_PB_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance_Entitlement_Collection_Counter</name>
        <label>Assign Maintenance Entitlement Collection &amp; Counter</label>
        <locationX>396</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EntitlementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EntitlementVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maintenance_Loop_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance_Visit_Entitlement</name>
        <label>Assign Maintenance Visit Entitlement</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EntitlementVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.QuoteAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.Product_Name_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Maintenance_Entitlement_Collection_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Maintenance_Entitlement_Collection</name>
        <label>Assign Non-Maintenance Entitlement Collection</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EntitlementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EntitlementVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_quote_line_entitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Maintenance_Entitlements</name>
        <label>Assign Non-Maintenance Entitlements</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EntitlementVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.QuoteAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.Product_Name_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementVar.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_quote_line_entitlement.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Non_Maintenance_Entitlement_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_Maintenance_Visit</name>
        <label>Contains Maintenance Visit</label>
        <locationX>550</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Non_Maintenance_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Maintenance_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_quote_line_entitlement.Product_Name_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maintenance Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Maintenance_Visit_Entitlement</targetReference>
            </connector>
            <label>Is Maintenance Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maintenance_Loop_Decision</name>
        <label>Maintenance Loop Decision</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>For_each_quote_line_entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maintenance_Counter_less_than_Qty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaintenanceCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>For_each_quote_line_entitlement.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Maintenance_Visit_Entitlement</targetReference>
            </connector>
            <label>Maintenance Counter less than Qty</label>
        </rules>
    </decisions>
    <description>Create Service Contract from RLM Quote</description>
    <environments>Default</environments>
    <formulas>
        <name>ServiceContractNameFormula</name>
        <dataType>String</dataType>
        <expression>{!get_Svc_Contract_Parent_QL.Covered_Asset__r.Name}+&quot; Service Contract&quot;</expression>
    </formulas>
    <interviewLabel>RLM Quote-to-ServiceContract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Quote-to-ServiceContract</label>
    <loops>
        <name>For_each_quote_line_entitlement</name>
        <label>For each quote line entitlement</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>get_Quote_Line_Entitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contains_Maintenance_Visit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Contract_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Line_Item</name>
        <label>Create Contract Line Item</label>
        <locationX>176</locationX>
        <locationY>1856</locationY>
        <inputReference>ContractLineVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>176</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Create_Contract_Line_Item</targetReference>
        </connector>
        <inputReference>EntitlementCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Contract</name>
        <label>Create Service Contract</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>For_each_quote_line_entitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>recordId.QuoteAccount.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>recordId.QuoteAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>recordId.QuoteAccount.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>recordId.QuoteAccount.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>recordId.QuoteAccount.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Service_Contract_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>recordId.QuoteAccount.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>recordId.QuoteAccount.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>recordId.QuoteAccount.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>recordId.QuoteAccount.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>recordId.QuoteAccount.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Quote_Details</name>
        <label>get Quote Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Svc_Contract_Parent_QL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Quote_Line_Entitlements</name>
        <label>get Quote Line Entitlements</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Contract_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentQuoteLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Svc_Contract_Parent_QL</name>
        <label>get Svc Contract Parent QL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Svc_Contract_PB_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name_formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Service Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Svc_Contract_PB_Entry</name>
        <label>get Svc Contract PB Entry</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Quote_Line_Entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductSellingModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Svc_Contract_Parent_QL.ProductSellingModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Service_Contract_Details</name>
        <label>Service Contract Details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Service_Contract</targetReference>
        </connector>
        <fields>
            <name>Service_Contract_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Contract_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>QuoteAccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.QuoteAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_Contract_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Contract_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceContractNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>Service Contract Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Svc_Contract_Parent_QL.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Svc_Contract_Parent_QL.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>EntitlementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>MaintenanceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
